@import "../../neumorphism.scss";

.roadmap {
    max-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    width: 1400px;
    max-width: calc(100vw - 100px);
    overflow-y: auto;
    padding: 0px 40px;
    margin-top: 40px;
    .milestone {
        margin-bottom: 20px;

        h3 {
            display: inline-block;
            margin: 0px 0px 20px 0px;
            padding: 10px 20px;
            background: #edf4;
        }

        .issue_grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 30px;
            .issue {
                display: flex;
                align-items: center;
                color: black;
                gap: 10px;
                img {
                    width: 30px;
                    height: 30px;
                    min-width: 30px;
                    padding: 0px;
                    box-shadow: 4px 4px 8px $shadow-dark,
                        -4px -4px 8px $shadow-light;
                }
                span {
                    flex: 1;
                    text-align: center;
                }
            }
        }
    }
}
