.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(var(--background), transparent);
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    backdrop-filter: blur(10px);
    z-index: 999;

    a {
        color: black;
        padding: 15px;
        position: relative;
        font-size: 12px;
        font-weight: 300;

        &.brand {
            font-weight: 600;
            font-size: 20px;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 50%;
            background-color: #ffffff00;
            -webkit-box-shadow: 0 -4px 12px 0 #ffffff00;
            box-shadow: 0 -4px 12px 0 #ffffff00;
            content: "";
            height: 2px;
            transition: background-color 0.125s, box-shadow 0.23s, left 0.125s,
                right 0.125s;
        }

        &:hover::after,
        &.active::after {
            background-color: var(--primary);
            -webkit-box-shadow: 0 -4px 12px 0 var(--primary);
            box-shadow: 0 -4px 12px 0 var(--primary);
        }

        &:hover::after {
            left: 40%;
            right: 40%;
        }

        &.active::after {
            left: 30%;
            right: 30%;
        }
    }

    .separator {
        flex: 1;
    }

    @media screen and (max-width: 650px) {
        justify-content: center;
        left: 0;
        right: 0;
        .right,
        .separator {
            display: none;
        }
    }

    @media screen and (max-width: 740px) {
        .roadmap {
            display: none;
        }
    }
}
