.morph {
    border-radius: 50px;
    padding: 40px 50px;
    background-color: var(--background);
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.morph.small {
    border-radius: 25px;
    padding: 20px 25px;
    box-shadow: 12px 12px 25px #bebebe, -12px -12px 25px #ffffff;
}

.morph.inset {
    box-shadow: inset 20px 20px 60px #bebebe, inset -20px -20px 60px #ffffff;
}

.glowy-link {
    text-shadow: 4px 4px 15px var(--primary);
}

.morph.hoverable:hover {
    box-shadow: inset 7px 7px 13px #58319c, inset -7px -7px 13px #7643d2;
    color: #e0e0e0;
    background-color: var(--primary);
}
